{%extends 'base.html' %}

{% load static %}

{%block title%}Sobre os ODS | {%endblock%}

{%block header%}

    <!-- Header -->

    <div class="header nButton">
        <div class="headerWrapper">
            <h1 class="jumboClamp nButton">Sobre os ODS</h1>
            <p class="largeClamp lato nButton">Objetivos de Desenvolvimento <br> Sustentável</p>
        </div>
    </div>

{%endblock%}

{%block content%}

    <!-- Main content -->

    <div class="contentEven">
        <div class="contentColumn">
            <h1 class="xlarge">O que são os ODS</h1>
            <p class="lato medium">
                Os ODS são 17 objetivos que possuem, em conjunto, 169 metas e que representam a Agenda 2030 em um plano de ação global que visa eliminar a pobreza extrema, a fome, a proteção do planeta, a garantia de oferta de educação de qualidade, dentre outros, até 2030.<br>
	            O vídeo abaixo, do canal do IBGE no YouTube, explica detalhadamente o conceito e a história por trás dos ODS e suas metas.
            </p>
            <div class="content_iframe">
                <iframe src="https://www.youtube.com/embed/Fev2MHAa-qo?list=PLAvMMJyHZEaFnbAHb_0limdkGL5Z_HBIi" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <p class="lato medium">
                Mais informações acerca dos Objetivos de Desenvolvimento Sustentável e assuntos correlatos podem ser encontrados no website oficial da Organização das Nações Unidas no Brasil.
            </p>
            <a class="lato medium" href="https://brasil.un.org/pt-br/sdgs" target="_blank">Clique aqui para mais detalhes</a>
        </div>
    </div>

    <div class="contentOdd">
        <div class="contentColumn">
            <h1 class="xlarge">O que é a Agenda 2030</h1>
            <p class="lato medium">
                A Agenda 2030 para o Desenvolvimento Sustentável, adotada em setembro de 2015 por 193 Estados Membros da ONU, é resultado de um processo global, coordenado pela ONU, que durou mais de dois anos.<br>
	            Sua implementação teve início em janeiro de 2016, atuando como uma continuação com um escopo ampliado da Agenda de Desenvolvimento do Milênio, que vigorou de 2000 a 2015.<br>
	            O vídeo abaixo, do canal ONU Brasil, no YouTube, ilustra todos os 17 ODS que compõem a Agenda 2030 e suas premissas.
            </p>
            <div class="content_iframe">
                <iframe src="https://www.youtube.com/embed/j8L1CcanjT8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <p class="lato medium">
                Mais informações acerca da história e dos objetivos da Agenda 2030 podem ser encontrados no website oficial da Organização das Nações Unidas no Brasil.
            </p>
            <a class="lato medium" href="https://brasil.un.org/pt-br/91863-agenda-2030-para-o-desenvolvimento-sustentavel" target="_blank">Clique aqui para mais detalhes</a>
        </div>
    </div>

    <div class="contentEven">
        <div class="contentColumn heightfix1">
            <h1 class="xlarge">
                Quais são os ODS
            </h1>
            <p class="lato medium">
                É possível encontrar mais informações sobre a história e a descrição individual de cada um dos 17 Objetivos de Desenvolvimento Sustentável no website oficial da Organização das Nações Unidas no Brasil.
            </p>
            <p class="lato lightText">
                Utilize o mural interativo abaixo para escolher sobre qual dos ODS você deseja buscar mais informações.
            </p>

            <div class="contentGridWrapper">
                <div class="contentGrid">
                    <div>
                        <a href="https://brasil.un.org/pt-br/sdgs/1" target="_blank"><div class="bg-ods ods1"></div></a>
                    </div>
                    <div>
                        <a href="https://brasil.un.org/pt-br/sdgs/2" target="_blank"><div class="bg-ods ods2"></div></a>
                    </div>
                    <div>
                        <a href="https://brasil.un.org/pt-br/sdgs/3" target="_blank"><div class="bg-ods ods3"></div></a>
                    </div>
                    <div>
                        <a href="https://brasil.un.org/pt-br/sdgs/4" target="_blank"><div class="bg-ods ods4"></div></a>
                    </div>
                    <div>
                        <a href="https://brasil.un.org/pt-br/sdgs/5" target="_blank"><div class="bg-ods ods5"></div></a>
                    </div>
                    <div>
                        <a href="https://brasil.un.org/pt-br/sdgs/6" target="_blank"><div class="bg-ods ods6"></div></a>
                    </div>
                    <div>
                        <a href="https://brasil.un.org/pt-br/sdgs/7" target="_blank"><div class="bg-ods ods7"></div></a>
                    </div>
                    <div>
                        <a href="https://brasil.un.org/pt-br/sdgs/8" target="_blank"><div class="bg-ods ods8"></div></a>
                    </div>
                    <div>
                        <a href="https://brasil.un.org/pt-br/sdgs/9" target="_blank"><div class="bg-ods ods9"></div></a>
                    </div>

                    <div>
                        <a href="https://brasil.un.org/pt-br/sdgs/10" target="_blank"><div class="bg-ods ods10"></div></a>
                    </div>
                    <div>
                        <a href="https://brasil.un.org/pt-br/sdgs/11" target="_blank"><div class="bg-ods ods11"></div></a>
                    </div>
                    <div>
                        <a href="https://brasil.un.org/pt-br/sdgs/12" target="_blank"><div class="bg-ods ods12"></div></a>
                    </div>

                    <div>
                        <a href="https://brasil.un.org/pt-br/sdgs/13" target="_blank"><div class="bg-ods ods13"></div></a>
                    </div>
                    <div>
                        <a href="https://brasil.un.org/pt-br/sdgs/14" target="_blank"><div class="bg-ods ods14"></div></a>
                    </div>
                    <div>
                        <a href="https://brasil.un.org/pt-br/sdgs/15" target="_blank"><div class="bg-ods ods15"></div></a>
                    </div>

                    <div>
                        <a href="https://brasil.un.org/pt-br/sdgs/16" target="_blank"><div class="bg-ods ods16"></div></a>
                    </div>
                    <div>
                        <a href="https://brasil.un.org/pt-br/sdgs/17" target="_blank"><div class="bg-ods ods17"></div></a>
                    </div>
                    <div>
                        <a href="https://brasil.un.org/pt-br/sdgs" target="_blank"><div class="bg-ods fin"></div></a>
                    </div>

                </div>
            </div>

        </div>
    </div>


{%endblock%}