{%extends 'base.html' %}

{% load static %}

{%block title%}Sobre nós | {%endblock%}

{%block header%}

    <!-- Header -->

    <div class="header nButton">
        <div class="headerWrapper">
            <h1 class="jumboClamp nButton">Sobre nós</h1>
            <p class="largeClamp lato nButton">Informações sobre a equipe de desenvolvimento da ferramenta</p>
        </div>
    </div>
{%endblock%}

{%block content%}

    <!-- Main content -->

    <div class="contentEven">
        <div class="contentRow">
            <div class="twoThirds">
                <h1 class="xlarge">Sobre a equipe</h1>
                <p class="lato medium">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum dolor eum libero iste commodi optio quisquam omnis eos officia. Voluptate minus eius velit laudantium atque impedit, vitae eveniet consequuntur nemo illo rerum perspiciatis repellendus maxime quaerat ab placeat minima, autem ipsam earum facilis obcaecati dolore, assumenda provident? Atque, veritatis delectus!
                </p>
            </div>

            <div class="vl"></div>

            <div class="hr"></div>

            <div class="oneThird">
                <img src="{% static 'img/UFJF.png' %}" alt="imagem" class="imgMain w-75">
            </div>
        </div>
    </div>

    <div class="contentOdd">
        <div class="contentInfo js-animate">
            <h2 class="larger" style="margin: 0 auto 100px auto;">Pesquisadores</h2>
            <div class="d-flex f-j-space-e" style="gap: 2rem; flex-wrap: wrap;">
                <div class="contentInfoCard">
                    <div class="m-auto infoImg">
                    </div>
                    <div style="height: 100px;" class="lato">
                        <div>
                            <h3 class="text-center reset">
                                Priscila Vanessa Zabala Capriles Goliatt
                            </h3>

                            <div class="lato lightText text-center">
                                Coordenadora/Pesquisadora
                            </div>
                        </div>

                        <!-- <div class="text-center m-auto py-1" style="height: 170px; width: 85%; overflow: hidden; box-sizing: border-box;">
                            <div class="d-flex flex-column f-j-center h-100">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus laboriosam hic unde sit adipisci possimus tenetur quo. Tempore maiores perspiciatis sapiente tenetur fugiat, cum, non alias ratione officia neque aliquid.
                            </div>
                        </div> -->

                        <div class="text-center infoLinks mt-1" style="color: var(--washed-gray);">
                            <!-- <a class="reset"><i class="fa-solid fa-user fa-2xl mx-05"></i></a>-->
                            <a class="reset" href="https://www.linkedin.com/in/priscila-capriles-goliatt" target="_blank"><i class="fa-brands fa-linkedin fa-2xl mx-05"></i></a> 
                            <!-- <a class="reset"><i class="fa-brands fa-github fa-2xl mx-05"></i></a> -->
                            <a class="reset" href="http://lattes.cnpq.br/3074561832181610" target="_blank"><i class="fa-solid fa-address-card fa-2xl mx-05"></i></a>
                        </div>
                    </div>
                </div>

                <div class="contentInfoCard">
                    <div class="m-auto infoImg">
                    </div>
                    <div style="height: 100px;" class="lato">
                        <div>
                            <h3 class="text-center reset">
                                Ana Carolina Estorani Polessa da Silva
                            </h3>

                            <div class="lato lightText text-center">
                                Pesquisadora
                            </div>
                        </div>

                        <!-- <div class="text-center m-auto py-1" style="height: 170px; width: 85%; overflow: hidden; box-sizing: border-box;">
                            <div class="d-flex flex-column f-j-center h-100">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus laboriosam hic unde sit adipisci possimus tenetur quo. Tempore maiores perspiciatis sapiente tenetur fugiat, cum, non alias ratione officia neque aliquid.
                            </div>
                        </div> -->

                        <div class="text-center infoLinks mt-1" style="color: var(--washed-gray);">
                            <!-- <a class="reset"><i class="fa-solid fa-user fa-2xl mx-05"></i></a>-->
                            <a class="reset" href="https://www.linkedin.com/in/ana-carolina-polessa-57285b1aa" target="_blank"><i class="fa-brands fa-linkedin fa-2xl mx-05"></i></a>
                            <!-- <a class="reset"><i class="fa-brands fa-github fa-2xl mx-05"></i></a>  -->
                            <a class="reset" href="http://lattes.cnpq.br/5977630244775037" target="_blank"><i class="fa-solid fa-address-card fa-2xl mx-05"></i></a>
                        </div>
                    </div>
                </div>

                <div class="contentInfoCard">
                    <div class="m-auto infoImg">
                    </div>
                    <div style="height: 100px;" class="lato">
                        <div>
                            <h3 class="text-center reset">
                                Bárbara Bastos de Lima Duque
                            </h3>

                            <div class="lato lightText text-center">
                                Pesquisadora
                            </div>
                        </div>

                        <!-- <div class="text-center m-auto py-1" style="height: 170px; width: 85%; overflow: hidden; box-sizing: border-box;">
                            <div class="d-flex flex-column f-j-center h-100">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus laboriosam hic unde sit adipisci possimus tenetur quo. Tempore maiores perspiciatis sapiente tenetur fugiat, cum, non alias ratione officia neque aliquid.
                            </div>
                        </div> -->

                        <div class="text-center infoLinks mt-1" style="color: var(--washed-gray);">
                            <!-- <a class="reset"><i class="fa-solid fa-user fa-2xl mx-05"></i></a> -->
                            <a class="reset" href="https://www.linkedin.com/in/b%C3%A1rbara-duque-369ba1117" target="_blank"><i class="fa-brands fa-linkedin fa-2xl mx-05"></i></a> 
                            <!-- <a class="reset"><i class="fa-brands fa-github fa-2xl mx-05"></i></a> -->
                            <a class="reset" href="http://lattes.cnpq.br/0339439485594107" target="_blank"><i class="fa-solid fa-address-card fa-2xl mx-05"></i></a>
                        </div>
                    </div>
                </div>

                <div class="contentInfoCard">
                    <div class="m-auto infoImg">
                    </div>
                    <div style="height: 100px;" class="lato">
                        <div>
                            <h3 class="text-center reset">
                                Leonardo Goliatt da Fonseca
                            </h3>

                            <div class="lato lightText text-center">
                                Pesquisador
                            </div>
                        </div>

                        <!-- <div class="text-center m-auto py-1" style="height: 170px; width: 85%; overflow: hidden; box-sizing: border-box;">
                            <div class="d-flex flex-column f-j-center h-100">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus laboriosam hic unde sit adipisci possimus tenetur quo. Tempore maiores perspiciatis sapiente tenetur fugiat, cum, non alias ratione officia neque aliquid.
                            </div>
                        </div> -->

                        <div class="text-center infoLinks mt-1" style="color: var(--washed-gray);">
                            <!-- <a class="reset"><i class="fa-solid fa-user fa-2xl mx-05"></i></a> -->
                            <a class="reset" href="https://www.linkedin.com/in/leonardo-goliatt" target="_blank"><i class="fa-brands fa-linkedin fa-2xl mx-05"></i></a>
                            <a class="reset" href="https://github.com/LGoliatt" target="_blank"><i class="fa-brands fa-github fa-2xl mx-05"></i></a>
                            <a class="reset" href="http://lattes.cnpq.br/9030707448549156" target="_blank"><i class="fa-solid fa-address-card fa-2xl mx-05"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="contentEven">
        <div class="contentInfo js-animate">
            <h2 class="larger" style="margin: 0 auto 100px auto;">Desenvolvedores</h2>
            <div class="d-flex f-j-space-e" style="gap: 2rem; flex-wrap: wrap;">
                <div class="contentInfoCard">
                    <div class="m-auto infoImg">
                    </div>
                    <div style="height: 100px;" class="lato">
                        <div>
                            <h3 class="text-center reset">
                                Henrique Andrade Pancotti
                            </h3>

                            <div class="lato lightText text-center">
                                Desenvolvedor Web
                            </div>
                        </div>

                        <!-- <div class="text-center m-auto py-1" style="height: 170px; width: 85%; overflow: hidden; box-sizing: border-box;">
                            <div class="d-flex flex-column f-j-center h-100">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus laboriosam hic unde sit adipisci possimus tenetur quo. Tempore maiores perspiciatis sapiente tenetur fugiat, cum, non alias ratione officia neque aliquid.
                            </div>
                        </div> -->

                        <div class="text-center infoLinks mt-1" style="color: var(--washed-gray);">
                            <!-- <a class="reset"><i class="fa-solid fa-user fa-2xl mx-05"></i></a> -->
                            <!-- <a class="reset"><i class="fa-brands fa-linkedin fa-2xl mx-05"></i></a> -->
                            <a class="reset" href="https://github.com/Henriqueapan" target="_blank"><i class="fa-brands fa-github fa-2xl mx-05"></i></a>
                            <a class="reset" href="http://lattes.cnpq.br/5779815733774818" target="_blank"><i class="fa-solid fa-address-card fa-2xl mx-05"></i></a>
                        </div>
                    </div>
                </div>

                <div class="contentInfoCard">
                    <div class="m-auto infoImg">
                    </div>
                    <div style="height: 100px;" class="lato">
                        <div>
                            <h3 class="text-center reset">
                                Gisele Goulart Tavares da Silva
                            </h3>

                            <div class="lato lightText text-center">
                                Desenvolvedor Python
                            </div>
                        </div>

                        <!-- <div class="text-center m-auto py-1" style="height: 170px; width: 85%; overflow: hidden; box-sizing: border-box;">
                            <div class="d-flex flex-column f-j-center h-100">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus laboriosam hic unde sit adipisci possimus tenetur quo. Tempore maiores perspiciatis sapiente tenetur fugiat, cum, non alias ratione officia neque aliquid.
                            </div>
                        </div> -->

                        <div class="text-center infoLinks mt-1" style="color: var(--washed-gray);">
                            <!-- <a class="reset"><i class="fa-solid fa-user fa-2xl mx-05"></i></a> -->
                            <a class="reset" href="https://www.linkedin.com/in/gisele-goulart-0736a6164" target="_blank"><i class="fa-brands fa-linkedin fa-2xl mx-05"></i></a>
                            <a class="reset" href="https://github.com/giselegoulart" target="_blank"><i class="fa-brands fa-github fa-2xl mx-05"></i></a>
                            <a class="reset" href="http://lattes.cnpq.br/2223382675951164" target="_blank"><i class="fa-solid fa-address-card fa-2xl mx-05"></i></a>
                        </div>
                    </div>
                </div>

                <div class="contentInfoCard">
                    <div class="m-auto infoImg">
                    </div>
                    <div style="height: 100px;" class="lato">
                        <div>
                            <h3 class="text-center reset">
                                Ruan Medina Carvalho
                            </h3>

                            <div class="lato lightText text-center">
                                Desenvolvedor Python
                            </div>
                        </div>

                        <!-- <div class="text-center m-auto py-1" style="height: 170px; width: 85%; overflow: hidden; box-sizing: border-box;">
                            <div class="d-flex flex-column f-j-center h-100">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus laboriosam hic unde sit adipisci possimus tenetur quo. Tempore maiores perspiciatis sapiente tenetur fugiat, cum, non alias ratione officia neque aliquid.
                            </div>
                        </div> -->

                        <div class="text-center infoLinks mt-1" style="color: var(--washed-gray);">
                            <!-- <a class="reset"><i class="fa-solid fa-user fa-2xl mx-05"></i></a> -->
                            <a class="reset" href="https://www.linkedin.com/in/ruan-medina-carvalho-51b863a9" target="_blank"><i class="fa-brands fa-linkedin fa-2xl mx-05"></i></a>
                            <a class="reset" href="https://github.com/ruanmedina" target="_blank"><i class="fa-brands fa-github fa-2xl mx-05"></i></a>
                            <a class="reset" href="http://lattes.cnpq.br/3879755069522569" target="_blank"><i class="fa-solid fa-address-card fa-2xl mx-05"></i></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

{%endblock%}