<!-- Footer -->

    <footer class="footer-distributed">

        <div class="footer-right">

            <a href="https://www.facebook.com/GmcaUfjf" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="https://twitter.com/GmcaUfjf" target="_blank"><i class="fab fa-twitter"></i></a>
            <a style="cursor: pointer;" id="mailButton"><i class="fas fa-envelope"></i></a>

        </div>

        <div class="footer-left">

            <p class="footer-links">
                <a class="link-1" href="index.html">Home</a>

                <a href="mapeamento.html">Mapeamento</a>

                <a href="sobre-os-ODS.html">Sobre os ODS</a>

                <a href="sobre-a-ferramenta.html">Sobre a Ferramenta</a>

                <a href="sobre-nos.html">Sobre nós</a>

                <a href="noticias.html">Notícias</a>
            </p>

            <p>ODS MAPEADOS</p>
        </div>

    </footer>