{%load static%}

<!-- CSS Normalize - NOT UTILIZED -->
<!-- <link rel="stylesheet" href="http://yui.yahooapis.com/3.11.0/build/cssnormalize/cssnormalize-min.css"> -->
<link rel="stylesheet" href="{%static 'css/style.css' %}">
<!-- Fonts stylesheet // Google Fonts API -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
<script src="https://use.fontawesome.com/06db353c65.js"></script>
<script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" data-auto-replace-svg="nest"></script>
<script src="https://kit.fontawesome.com/01f31606d4.js" crossorigin="anonymous"></script>